
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.js"></script>

    <link rel="stylesheet" href="../Leaflet.ArrawPath.css"/>
    <script src="../Leaflet.ArrowPath.js" charset="UTF-8"></script>


    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>

</head>
<body>

<div id="map"></div>

<script>
    var canvasDir = document.createElement('canvas')
    var width = 7;
    canvasDir.width = width;
    canvasDir.height = width;
    var context = canvasDir.getContext('2d');
    context.strokeStyle = '#ffffff';
    context.lineJoin = 'round';
    context.lineWidth = 2;
    context.moveTo(-1, width - 1);
    context.lineTo(width / 2, 1);
    context.lineTo(width + 1, width - 1);
    context.stroke();

    // var render = new L.ArrowPath({
    //     stepSize: 30,
    //     symbolText: null,
    //     symbolImg: canvasDir,
    //     theta: -80.1,
    //     offsetX: -4,
    //     offsetY: 2,
    //     imgClipOffset: 2
    // });


    var canvasImg = new Image();
    canvasImg.onload= function() {
        canvasImg.onload = null;
    }

    canvasImg.src="./arrow.png";
    //
    // var render = new L.ArrowPath({
    //     stepSize: 30,
    //     symbolText: null,
    //     symbolImg: canvasImg,
    //     theta: 0,
    //     offsetX: -9,
    //     offsetY: 4,
    //     imgClipOffset: 3
    // });
    //
    var render = new L.ArrowPath({
        stepSize: 30,
        symbolText: '>',
        textStyle: {
            fontSize: 14,
            fillStyle: '#ffffff',
            lineWidth: 8
        }
    });


    var map = L.map('map').setView([47.99, -111.05], 5);


    var baseLayer = L.tileLayer.wms('https://demo.boundlessgeo.com/geoserver/ows?', {
        layers: 'nasa:bluemarble'
    }).addTo(map);



    var lines = [{
        "type": "Feature",
        "properties": {},
        "geometry": {
            "type": "LineString",
            "coordinates": [[-105, 40], [-110, 45], [-115, 55]]
        }
    }, {
        "type": "Feature",
        "properties": {},
        "geometry": {
            "type": "LineString",
            "coordinates": [[-100, 40], [-105, 45], [-110, 55]]
        }
    }];
    L.geoJSON(lines, {
        style: (feature) => {
            return {
                color: '#ff0c68',
                weight: 5,
                renderer: render
            };
        },
        onEachFeature: (feature, layer) => {
            layer.bindPopup(`aa`, {});
        },
    }).addTo(map)



</script>

</body>
</html>
